<div class="main">
  <img class="main-logo" alt="Angular 8 + TypeScript Scaffold Logo" [src]="imageContent">
  <h2 class="main-links-title">{{ textContent?.home_text_help }}</h2>
  <ul class="main-links">
    <li>
      <h3>
        <a target="_blank" rel="noopener" title="{{ textContent?.home_text_help_links_1 }}" href="https://angular.io/tutorial">{{ textContent?.home_text_help_links_1 }}</a>
      </h3>
    </li>
    <li>
      <h3>
        <a target="_blank" rel="noopener" title="{{ textContent?.home_text_help_links_2 }}" href="https://angular.io/cli">{{ textContent?.home_text_help_links_2 }}</a>
      </h3>
    </li>
    <li>
      <h3>
        <a target="_blank" rel="noopener" title="{{ textContent?.home_text_help_links_3 }}" href="https://blog.angular.io/">{{ textContent?.home_text_help_links_3 }}</a>
      </h3>
    </li>
    <li>
      <h3>
        <a target="_blank" rel="noopener" title="{{ textContent?.home_text_help_links_4 }}" href="https://www.typescriptlang.org/docs/home.html">{{ textContent?.home_text_help_links_4 }}</a>
      </h3>
    </li>
  </ul>
</div>
